@import '/styles/global.css';


html{
	height: 100%;
	background: #fff;
}
body{
  font-family: 'Open Sans', Arial, sans-serif;
  font-size:16px;
  color:#1c304e;
  font-weight:400;
  min-width: 360px;
	height: 100%;
	min-height: 100%;
}


h1,
h2,
h3,
h4,
h5,
h6{
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight:400;
	margin:0 0 20px;
}

a,
a:hover,
a:focus{
  outline: none !important;
  text-decoration: none;
}

a{
  color:#1c304e;
  text-decoration: none;
}
a:hover,
a:focus{
  color:#1c304e;
  text-decoration: underline;
}


.main{
	height: 100%;
	min-height: 100%;
}
